* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 130px;
}
.header__logo {
  background: rgb(4, 115, 177);
  background: -moz-linear-gradient(-45deg, rgb(4, 115, 177) 0%, rgb(16, 167, 252) 100%);
  background: -webkit-linear-gradient(-45deg, rgb(4, 115, 177) 0%, rgb(16, 167, 252) 100%);
  background: linear-gradient(135deg, rgb(4, 115, 177) 0%, rgb(16, 167, 252) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#0473b1", endColorstr="#10a7fc",GradientType=1 );
  height: 50px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  border-radius: 6px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.3);
}
.header__logo a {
  color: inherit;
  padding: 8px 16px;
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.menu__item {
  font-weight: 700;
}
.menu__item a {
  color: inherit;
}
.menu__item + .menu__item {
  margin-left: 42px;
}
.menu__link {
  line-height: 138.8888888889%;
}
.menu__link-line {
  position: relative;
}
.menu__link-line::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #10A7FC;
  position: absolute;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transition: all 0.3s ease 0s;
  transform-origin: left;
}
.menu__link-line:hover::before {
  transform: scaleX(1);
  transition: all 0.3s ease 0s;
}
.menu__item-blue {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__item-blue a {
  display: block;
  padding: 10px 24px;
  color: #10A7FC;
  border: 2px solid #0FA5FA;
  border-radius: 18px;
  transition: all 0.3s ease 0s;
  position: relative;
  overflow: hidden;
}
.menu__item-blue a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgb(4, 115, 177);
  background: -moz-linear-gradient(-45deg, rgb(4, 115, 177) 0%, rgb(16, 167, 252) 100%);
  background: -webkit-linear-gradient(-45deg, rgb(4, 115, 177) 0%, rgb(16, 167, 252) 100%);
  background: linear-gradient(135deg, rgb(4, 115, 177) 0%, rgb(16, 167, 252) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#0473b1", endColorstr="#10a7fc",GradientType=1 );
  transition: all 0.3s ease 0s;
  z-index: -1;
}
.menu__item-blue a:hover::before {
  left: 0;
  transition: all 0.4s ease 0s;
}
.menu__item-blue a:hover {
  transition: all 0.3s ease 0s;
  color: #FFFFFF;
}

@media (max-width: 500px) {
  .header__inner {
    min-height: 110px;
  }
  .header__logo {
    margin-right: 15px;
  }
  .menu__item {
    font-weight: 700;
    font-size: 12px;
  }
  .menu__item a {
    color: inherit;
  }
  .menu__item + .menu__item {
    margin-left: 20px;
  }
}
@media (max-width: 330px) {
  .header {
    padding-top: 10px;
  }
  .menu__list {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .menu__item-blue {
    margin-bottom: 15px;
  }
}
@font-face {
  font-family: Helvetica;
  src: url("../fonts/helvetica_light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Helvetica;
  src: url("../fonts/helvetica_regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Helvetica;
  src: url("../fonts/helvetica_bold.ttf");
  font-weight: 700;
  font-style: normal;
}
html, body {
  min-height: 100%;
}

body {
  background: rgb(37, 37, 37);
  background: -moz-linear-gradient(-45deg, rgb(37, 37, 37) 0%, rgb(58, 58, 58) 100%);
  background: -webkit-linear-gradient(-45deg, rgb(37, 37, 37) 0%, rgb(58, 58, 58) 100%);
  background: linear-gradient(135deg, rgb(37, 37, 37) 0%, rgb(58, 58, 58) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#252525", endColorstr="#3a3a3a",GradientType=1 );
  font-size: 18px;
  color: #FFFFFF;
  font-family: Helvetica;
  font-weight: 400;
  background-attachment: fixed;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1145px;
  margin: 0px auto;
  padding: 0px 15px;
}

.main {
  flex: 1 1 auto;
}

.title {
  text-align: center;
  font-size: 32px;
  line-height: 137.5%;
  font-weight: 700;
}

.developer {
  padding: 70px 0px 30px 0px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.developer__inner {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0px auto;
}
.developer__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 137.5%;
  margin-bottom: 20px;
  text-align: center;
}
.developer__subtitle {
  line-height: 138.8888888889%;
  color: #FFFFFF;
  text-align-last: left;
  margin-bottom: 18px;
}
.developer__switch {
  text-align-last: left;
  margin-bottom: 25px;
}
.developer__image {
  text-align: center;
}
.developer__image img {
  max-width: 100%;
}

.switch__inner {
  display: flex;
}
.switch__text {
  margin-right: 35px;
}
@media (max-width: 767.98px) {
  .developer {
    padding: 50px 0px 20px 0px;
  }
}
.tecnologys {
  padding-top: 120px;
}
.tecnologys__title {
  margin-bottom: 100px;
}
.tecnologys__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -34px;
}
.tecnologys__column {
  flex: 0 1 33.3333%;
  padding: 0px 34px;
}
.tecnologys__wrapper {
  position: relative;
  top: 0;
  left: 0;
  max-width: 335px;
  height: 380px;
}
.tecnologys__item-front, .tecnologys__item-back {
  background: rgb(61, 61, 61);
  background: -moz-linear-gradient(-45deg, rgb(61, 61, 61) 0%, rgb(68, 68, 68) 100%);
  background: -webkit-linear-gradient(-45deg, rgb(61, 61, 61) 0%, rgb(68, 68, 68) 100%);
  background: linear-gradient(135deg, rgb(61, 61, 61) 0%, rgb(68, 68, 68) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#3d3d3d", endColorstr="#444444",GradientType=1 );
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.8s ease 0s;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tecnologys__item-front {
  z-index: 2;
  transform: perspective(600px) rotateY(0deg);
}
.tecnologys__item-back {
  transform: perspective(600px) rotateY(180deg);
  padding: 0px 25px;
}
.tecnologys__item-back_title {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 165%;
  font-weight: 700;
  text-align: center;
}
.tecnologys__item-back_list {
  font-size: 16px;
  line-height: 175%;
  font-weight: 400;
  text-align: center;
}
.tecnologys__title-front {
  margin-bottom: 45px;
  font-size: 28px;
  line-height: 157.1428571429%;
  font-weight: 700;
  text-transform: uppercase;
}
.tecnologys__progres-bar-front {
  margin-bottom: 65px;
  width: 110px;
  height: 110px;
  border: 8px solid #CB7612;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tecnologys__progres-bar-blue {
  border: 8px solid #10A7FC;
}
.tecnologys__progres-bar-green {
  border: 8px solid #12CB30;
}
.tecnologys__point-front {
  font-size: 16px;
  line-height: 137.5%;
}
.tecnologys__wrapper:hover > .tecnologys__item-front {
  transform: perspective(600px) rotateY(-180deg);
}
.tecnologys__wrapper:hover > .tecnologys__item-back {
  transform: perspective(600px) rotateY(0deg);
}

@media (max-width: 1100px) {
  .tecnologys__row {
    margin: 0px -10px;
  }
  .tecnologys__column {
    padding: 0px 10px;
  }
}
@media (max-width: 767.98px) {
  .tecnologys {
    padding-top: 60px;
  }
  .tecnologys__title {
    margin-bottom: 50px;
  }
  .tecnologys__row {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  }
  .tecnologys__wrapper {
    max-width: 100%;
    height: 300px;
  }
  .tecnologys__column:not(:last-child) {
    margin-bottom: 25px;
  }
  .tecnologys__item-back_title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 137.5%;
  }
  .tecnologys__item-back_list {
    font-size: 18px;
    line-height: 155.5555555556%;
  }
  .tecnologys__title-front {
    margin-bottom: 25px;
  }
  .tecnologys__progres-bar-front {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 45px;
    width: 110px;
    height: 110px;
    border: 8px solid #CB7612;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tecnologys__progres-bar-blue {
    border: 8px solid #10A7FC;
  }
  .tecnologys__progres-bar-green {
    border: 8px solid #12CB30;
  }
}